<div class="siteHeader variant--Overlay">
  <div class="siteHeader__container">
    <a href="/" class="SiteHeader__logo">
      {% include "../components/logo.twig" %}
    </a>
    <div class="siteHeader__menu">
      <nav class="siteHeaderNav">
        <ul class="siteHeaderNav__list">
          <li class="siteHeaderNavItem"><a href="#" class="rootLink">Solutions</a></li>
          <li class="siteHeaderNavItem"><a href="#" class="rootLink">Industry</a></li>
          <li class="siteHeaderNavItem"><a href="#" class="rootLink">Partners</a></li>
          <li class="siteHeaderNavItem"><a href="#" class="rootLink">Company</a></li>
          <li class="siteHeaderNavItem"><a href="#" class="rootLink">Contact</a></li>
        </ul>
      </nav>
      <div class="siteHeader__ctaNav">
        <button class="btn btn--primary">Client login</button>
      </div>
    </div>
  </div>
</div>