<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta NAME="robots" content="noindex,nofollow" />
<link rel="stylesheet" href="{% if cssDefault is defined %}{{ cssDefault }}{% else %}css/default.css {% endif %}" />
<link rel="stylesheet" href="{% if cssIcebox is defined %}{{ cssStyle }}{% else %}css/style.css {% endif %}" />
<title>{% if pageTitle is defined %}{{ pageTitle }}{% else %}Homepage{% endif %}</title>
<meta name="description" content="" />
<!-- favicons -->
<link rel="shortcut icon" href="img/favicons/favicon.ico" />
<link rel="shortcut icon" type="img/png" href="img/favicons/favicon-16.png" />
<link rel="shortcut icon" type="img/png" href="img/favicons/favicon-32.png" />
<link rel="apple-touch-icon" href="img/favicons/touch-icon-ipad.png" />
<link rel="apple-touch-icon" href="img/favicons/touch-icon-iphone-retina.png" />